//team section
.section-team {
    background: $background-box;
    margin: 50px 0 0;
    padding: 50px;

    @extend %clearfix;
}

.seo-description-title {
    color: $title-color;
    font-size: fontSize(16);
    padding-top: 5px;
    text-transform: uppercase;
}

.seo-description-subTitle {
    color: $orange-color;
    font-weight: normal;
    font-style: italic;
    font-size: fontSize(16);
    margin: 10px 0 40px;
}

.seo-description-text {
    font-size: fontSize(14);
    line-height: fontSize(22);
}

.team-title {
    text-align: center;
    width: 230px;
    margin: 40px auto 35px;    
    font-size: fontSize(18);
    text-transform: uppercase;
    line-height: fontSize(22);
}


//section vagas
.section-jobs {
    padding: 50px;

    @extend %clearfix;
}

.section-jobs-title {
    margin: 50px 0 60px 0;
    text-align: center;
    color: $title-color;
    font-size: fontSize(18);
    text-transform: uppercase;   

}

.jobs-title {
    color: $title-color;
    font-size: fontSize(17);
    text-transform: uppercase;   
    margin-bottom: 50px;
}

.table-jobs {
    dt {
        margin: 0 0 15px;
    }
    dd {
        text-align: right;
    }
}

//queries
@media screen and (max-width: $grid-small){
    .section-jobs , .section-team, .section-qualitys {
        padding: 10px;
    }

    .quality-item img {
        width: 70%;
    }

    .table-jobs {
        dt {
            margin: 0 0 5px;
        }
        dd {
            margin: 0 0 20px;
            text-align: left;
        }
    }
}