//colors
$title-color: #7d7873;
$text-color: #9b9b9b;
$link-color: #359c9c;
$link-color-dark: darken(#359c9c, 10%);
$background-box: #f8f8f8;
$line-color: #cbcbcb;
$background-site: #d5d5d5;
$orange-color: #f9a90e;

//font
$font-base: 16;

//grids
$grid-gutter: 1%;
$grid-columns: 12;
$grid-small: 480px;
$grid-medium:768px;
$grid-large: 960px;
